* {
    box-sizing: border-box;
}

.parent {
    max-height: 100%;
    max-width: 992px;
    background: #a49292;
}

.redbox {
    margin: 1%;
    width: 48%;
    height: 100px;
    background: red;
    border: 1px solid black;
    float: left;
}

.greenbox {
    margin: 1%;
    width: 23%;
    height: 100px;
    background: green;
    border: 1px solid black;
    float: left;
}

.auqabox {
    margin: 1%;
    width: 31.3333%;
    height: 100px;
    background: aqua;
    border: 1px solid black;
    float: left;
}

.violetbox {
    margin: 1%;
    width: 9.1111%;
    height: 100px;
    background: violet;
    border: 1px solid black;
    float: left;
}

div::after {
    content: '';
    clear: both;
    display: block;
}


@media (max-width: 768px) {
    .redbox {
        width: 99%;
        margin: 0.5%;
    }

    .greenbox {
        width: 49%;
        margin: 0.5%;
    }

    .auqabox {
        width: 99%;
        margin: 0.5%;
    }

    .violetbox {
        width: 32.2222%;
        margin: 0.5%;
    }
}